.app-container{
  display: flex;
  justify-content: center;
}
.background-image{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: brightness(50%);
    opacity: 0.5;
    position: fixed;
}